#header{
  height: 60px;
  padding: 10px;
  margin: 10;
  background-color: blue;
  border-radius: 25px;
}

.header img{
  display: inline-block;
  width: 58px;
  height: 58px;
}


#page-title{
  font-size: 30px;
  color: white;
  margin: 12px;
  display: inline-block;
  vertical-align: top;
}
html{
    width:100%;
    height:100%;
}
body {
  padding: 3px;
  margin: 3px;
  min-height: 100%;
  font: 13px Arial;
  border: 10px solid black;
  overflow:scroll;
  display:block;
  box-sizing: border-box;
}

img{
  height: 58px;
}

div.input_question {
margin-top: 2px;
border-style: groove;
border-width: 1px;
padding-left: 2px;
}

div.groove {
margin-top: 2px;
border-style: groove;
border-width: 1px;
padding-left: 10px;
padding-bottom: 2px;

}

p {
font-size: 20px
}

p.note {
font-size: 15px
}

legend { 
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  border-radius: 12px;
  font-size: 25px
}

input[type=radio] {
  display: inline;
}

#wrapper {
    text-align: center;
}

.wrapper button {
    position: absolute;
    top: 50%;
    background-color: #555555;
    border: none;
    color: white;
}

button.grade_next {
    display: inline-block;
    background-color: #555555;
    margin: 2px 0;
    border: solid 1px transparent;
    color: white;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: #FFFFFF;
    background-color: #9555AF;
}

button.grade_next:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

button.grade_next:hover {
    color: #9050AA;
    border-color: currentColor;
    background-color: white;
}

button.next_ans {
    display: inline-block;
    background-color: #555555;
    margin: 2px 0;
    border: solid 1px transparent;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: #FFFFFF;
    background-color: #9555AF;
}

button.next_ans:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

button.next_ans:hover {
    color: #9050AA;
    border-color: currentColor;
    background-color: white;
}

#navigate {
    text-align: center;
}

button.feedback {
    display: inline-block;
    background-color: #4CAF50;
    margin: 2px 0;
    border: solid 1px transparent;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0.5em 1em;
}

button.feedback:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

button.feedback:hover {
    color: #9050AA;
    border-color: currentColor;
    background-color: white;
}

.form-radio
{
     position: relative;
     top: 0;
     left: 0;
     height: 25px;
     width: 25px;
     background-color: #eee;
     border-radius: 50%;
}

.form-radio:hover
{
    background-color: #ccc;
}
.form-radio:checked
{
    background-color: #2196F3;
    
}
.form-radio:checked::after
{
    display: none;
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;  
    
}
