<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Autograder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div id="header">
	<img src="{{ url_for('static', filename='images/logo.png') }}">
	<h2 id="page-title">Short Answer Grading Assistant</h2>
    </div>
    <div class="input_question"> 
	    <form action="/upload" method="post" enctype="multipart/form-data" >
	    <p><b>Upload Subject Data</b> </p>
	    	<p class="note"><i> Please upload a zipped nbgrader metadata file</i></p>
	    <hr>
		<p><b>Select Data file:</b>&emsp;<input id="picker" type="file" name='data_file' autocomplete="off" required/>
		<br><input type='submit' value='upload'>
	    	</p>
	    </form>
    </div>
   <br/>
   
   <fieldset>
   	<legend><b>Data Statistics</b></legend>
		{% if upload_status == 'False' %}
			<p><b>N/A</b></p>
		{% else %}
			<p><b>Number of Students:</b> {{ total_students }}</p>
			<br/>
			<p><b>Number of Questions:</b> {{ total_questions }}</p>
		{% endif %}
   </fieldset>
   <br/>
    <div class="input_modelans"> 
	    <form action="/model" method="post" enctype="multipart/form-data" >
	    <p><b>Upload Model Answers (Optional)</b> </p>
	    	<p class="note"><i> Please upload a txt file containing the model answers if available:</i></p>
	    <hr>
		<p><b>Select file:</b>&emsp;<input id="picker" type="file" name='model_ans' autocomplete="off" required/>
		<br><input type='submit' value='upload'>
	    	</p>
	    	{% if model_ans_status %}
	    	    <p><b>Model answers uploaded</b></p>
	    	{% else %}
	    	    <p><b>No model answer file provided.</b></p>
	    	{% endif %}
	    </form>
    </div>
   <br/>
   <form action="/start" method="post">
	{% if upload_status == 'True' %}
		<div id="navigate">
		    <button type="submit" class="next_ans">Start Grading</button>
		</div>
	{% endif %}
   </form>
  </body>
</html>
